.header_1{
    font-weight: lighter;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    letter-spacing: 7.5px;
    text-align: center;
    margin-top: 60px;
}
.header_2{
    font-family: "playfair display", serif;
    font-weight: bolder;
    font-size: 116px;
    text-align: center;
    margin-top: 15px;
    letter-spacing: 1px;
}
.navbar{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-top: -60px;
    
    
}

.nav-list{
    display: flex;
    list-style: none;
    justify-content: center;
    align-content: center;
    margin:0 auto;
    padding: 0 40px;

}

.nav-list li {
    border-right:1px solid black ;
    padding:15px 70px ;
    margin-left: 3px;
    
    
    
    
}

.nav-list a {
    text-decoration: none;
    color: black;
    font-size: 15px;

}
.nav-list li a img {
    height: 20px;
    display:flex ;
    justify-content: center;
    padding-left: 2px;

}

.social-m{
    display: flex;
    gap: 10px;
    
    
}

.nav-list li:first-child {
    border-left: 1px solid black;
    padding:12px 35px ;
}

.nav-list li :hover{
    color: blue;
}

.post-container{
    width: 90%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    margin-left: 140px;
    height: 100%;
    
    
    
    
}

.image-item{
    position: relative;
    background-image: url(images/book-hand.webp);
    background-size: cover;
    background-position: center;
    width: 960px;
    height: 411px;
    display: flex;
    align-items: start;
    margin-bottom: 20px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    margin-top: 60px;
    
    
    
}
 .image_text{
    padding: 20px 30px;
    margin: 30px;
    border: 1px solid black;
    background-color: rgba(255,255,255,1.0);
    max-width: 400px;
    position: relative;
    bottom: 55px;
    right:31px ;
    letter-spacing: 9px;
}



.bottom{
    
    height: 250px;
    margin-top: -20px;
    width: 960px;
    border-left:1px solid black ;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    height: 300px;
}

.bottom-text2{
    margin-top: 30px;
    margin-left: 25px;
    margin-bottom: 25px;
}

.bottom-text2 a {
    text-decoration: none;
    color: black;

}

.bottom-text2 a:hover{
       color: blue;
}
.bottom-text2 a h1{
    font-family:"playfair display", serif;
    
}
.bottom-text2 a h3{
    font-weight: lighter;
    
}

.bottom-text1{
    display: flex;
    flex-direction: column;
    margin: 35px 30px 10px;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    
    

}


#notification-container{
    height: 250px;
    display: flex;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 1220px;
    align-items: center;
    justify-content: center;
    margin-top: 35px;

}

.notification-item1{
    font-size: 26px;
    margin-right:260px ;
    margin-bottom: 60px;
    height: 100px;
}


.email1{
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 15px;
    padding: 15px;
    width: 250px;
    margin-right: 30px;
    

    
}




.notification-item2{
    display: inline-block;
    text-align: left;
    max-width:400px;
    width: 100%;
}



.notification-item2 button{
    color: white;
    padding:13px 28px;
    cursor: pointer;
    background-color: blue;
    border: none;
    border-radius: 4px;
    position: relative;
    left: 290px;
    bottom: 55px;

}

.notification-item2 button:hover{
    background-color: black;
}

.email-h{
    position: relative;
    bottom: 10px;
    opacity: 0.6;
}

.notification-item2 input[type="email"]:focus {
    outline: none;

}

.checkbox{
    display: flex;
    align-items: start;
    position: relative;
    bottom: 39px;
    font-weight: lighter;
    box-sizing: border-box;


}

.blog-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
    
    
    

}

.post1{
    display: flex;
    overflow: hidden;

    
    border: 1px solid black;
    height: 353px;

    margin-top: 50px;
    margin-right:170px;
    

    
}

.post1 img{
    width: 50%px;
    object-fit: cover;
    height: 353px;

}

.ramen-text{
    display: flex;
    flex-direction: column;
    width: 250px;
    padding: 33px;
    justify-content: space-between;
    text-align: justify;
       
    height: 82px;

}


.ramen-text a h3{
    font-size: 23px;
    font-weight: 600;
    padding: 16px;
    position: relative;
    bottom: 42px;
    right: 15px;
    
}

.ramen-text a{
    text-decoration: none;
    color: black;
    
}

.ramen-text p{
    font-size: 13px;
    box-sizing: border-box;
    font-weight: 300;
    position: relative;
    bottom: 15px;
    font-family: sans-serif;
    
}


.ramen-text a p{
    font-size: 16px;
    font-weight: lighter;
    font-family: sans-serif;
    line-height: 24px;
    text-align: start;
    position: relative;
    bottom: 65px;
    
}

.ramen-bottom{
    display: flex;
    justify-content: space-between;
    border: none;
    border-top: 0.2px solid black;
    position: relative;
    bottom: 15px;
    padding: 15px;
}


.post-container2{
    border-right: 1px solid black;
        
    height: 600vh;

}

.post-container2 h4 {
    font-size: 22px;
    letter-spacing: 8.8px;
    font-family: sans-serif;
    font-weight: 400;
    margin-top: 70px;
    text-align: left;
    



}

.ramen-text a:hover{
    color: blue;
    cursor: pointer;
}


.end-button{
    text-align: center;
    padding: 35px;
    
    
}

.end-button button{
    color: white;
    cursor: pointer;
    padding: 12px 45px;
    background-color: blue;
    border: none;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    right: 91px;
    
}

.end-button button:hover{
    background-color: black;
    
}

.about-me img{
       width: 284.667px;
       height: 200.667;
       margin-top: 18px;
       border: 1px solid black;
}


.about-me h4{
    font-size: 22px;
    letter-spacing: 8.8px;
    font-family: sans-serif;
    font-weight: 400;
    margin-top: 70px;

}

.about-text p{
    font-size: 17px;
    font-weight: 400;
    line-height: 27.2px;
    height: 217.583px;
    width: 250px;
    font-family: sans-serif;
    font-weight: lighter;
    

}

.about-text{
    margin-top: 50px;
}


.read-more{
    margin-top: 37px;

}

.read-more a{
    text-decoration: none;

}

.read-more a span{
    color: black;
    font-size: 17px;
    font-weight: lighter;
    font-family: sans-serif;
    opacity: 0.6;
}

.read-more a span:hover{
    color: blue;
    cursor: pointer;
}


.follow h4{
        font-size: 22px;
    letter-spacing: 8.8px;
    font-family: sans-serif;
    font-weight: 400;
    margin-top: 40px;
}

.follow{
    border-top:1px solid black ;
    margin-top: 60px;
}

.follow-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 50px;
}

.follow-img{
    overflow: hidden;
    border-radius: 8px;
    position: relative;
    cursor: pointer;

}
.follow-img img{
    object-fit: cover;
    display: block;
    width: 150px;
    height: 150px;
    transition: transform 0.4s ease;
}

.follow-img:hover img{
    transform: scale(1.1);
}

.follow-img .overlay{
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    align-items:center ;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    font-size: 14px;
    transition: opacity 0.4s ease;
    gap: 20px;
}

.follow-img:hover .overlay{
    opacity: 1;
}

.follow-img .overlay p{
    margin: 0;
    line-height: 1.1px;
}


.socials-right{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-top: 15  px;

}

.social-r{
    display: flex;
    gap: 20px;
    justify-content: center;
    list-style: none;
    

}
.social-r img{
    height: 25px;
}

.subcribe-right h4{
         font-size: 22px;
    letter-spacing: 8.8px;
    font-family: sans-serif;
    font-weight: 400;
    margin-top: 35px;
}

.form-right{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-right input[type="email"] {
    
    padding: 10px;
    width: 250px;
    margin-right: 30px;

}

.email2:focus{
    outline: none;
}
.email2:hover{
    border: 1px solid blue;
    outline: none;
}

.submit1{
    padding: 11px;
    width: 280px;
    font-size: 16px;
    color: white;
    background-color: blue;
    border: none;
    border-radius: 2px;
}
.checkbox2{
    cursor: pointer;
}

.submit1:hover{
    background-color: black;
    cursor: pointer;
}

.email-h2{
    opacity: 0.6;

}

.form-rightcontainer{
    margin-top: 70px;
}


.pick-container h4{
           font-size: 22px;
    letter-spacing: 8.8px;
    font-family: sans-serif;
    font-weight: 400;
    text-transform: uppercase;


}

.pick-container img{
       width: 284.667px;
       height: 200.667;
       margin-top: 18px;
       border: 1px solid black;
       margin-top: 40px;


}

.pick-container{
    border-top: 1px solid black;
    margin-top: 40px;
}

.picktop-text{
    margin-top: 80px;
}
.pick-container p{
    line-height: 27.2px;
    font-size: 18px;
    width: 280px;
    font-family: sans-serif;
    margin-top: 40px;

}
    







































































































































































































