body{
    height: 100%;
    width: 100%;
}


.nav-list{
    display: flex;
    list-style: none;
    gap: 40px;
    


    

}
.nav-list li{
    font-family: "Space Grotesk", sans-serif;
font-weight: 400;
font-style: Regular;
font-size: 20px;
leading-trim: NONE;
line-height: 28px;
letter-spacing: 0%;
position: relative;
left: 350px;
top: 14px;

}

.nav-container{
    display: flex;
    margin-top: 30px;
}



.pos-nav{
    display: flex;
    position: relative;
    left: 50px;
    
    
}

.pos-nav img{
    height: 36px;
    width: 36px;
    top: 25px;
    position: relative;
    left: 30px;

}
.pos-nav h1{
    width: 170.61688232421875;
height: 28.56000328063965;
angle: 0 deg;
opacity: 1;
top: 3px;
left: 48.92px;
position: relative;

}

.nav{
    display: flex;
    position: relative;
    right: 30px;
}
.nav button{
    width: 231;
height: 68px;
gap: 10px;
angle: 0 deg;
opacity: 1;
border-radius: 14px;
border-width: 1px;
padding-top: 5px;
padding-right: 35px;
padding-bottom: 5px;
padding-left: 35px;
position: relative;
left: 380px;
top: 10px;
}

.page1{
    display: flex;
    margin-top: 25px;
    gap: 140px;
    
}
.page1-con{
    display: flex;
    flex-direction: column;
    width: 531px;
    height: 481px;
    position: relative;
    left: 90px;
    gap: 28px;
}

.page1 h1{
font-family: "Space Grotesk", sans-serif;
font-weight: 500;
font-style: Medium;
font-size: 60px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;



}
.page1-img img{
width: 600.46px;
height: 515;
opacity: 1;
border-width: 1px;


}

.page1-con p{
font-family: "Space Grotesk", sans-serif;
font-weight: 400;
font-style: Regular;
font-size: 20px;
leading-trim: NONE;
line-height: 28px;
letter-spacing: 0%;

}

.page1-con button{
width: 264px;
height: 68px;
angle: 0 deg;
opacity: 1;
gap: 10px;
padding-top: 20px;
padding-right: 35px;
padding-bottom: 20px;
padding-left: 35px;
border-radius: 14px;
background: #191A23;
color: white;
font-family:  "Space Grotesk", sans-serif;

}
.stream-list{
    display: flex;
    width: 1440;
height: 48;
gap: 70px;
angle: 0 deg;
opacity: 1;
padding-right: 100px;
padding-left: 100px;
margin-top: 80px;



}

.stream-list li{
    list-style: none;
}

.sub_h{
    display: flex;
    gap: 40px;
    margin-top: 100px;
    margin-left: 79px;
}



.sub-h-con-1{
width: 178px;
height: 51px;
angle: 0 deg;
opacity: 1;
gap: 40px;
padding-right: 7px;
padding-left: 7px;
border-radius: 7px;
background: #B9FF66;

}

.sub-h-con-1 h1{
   text-align: center;
   position: relative;
   bottom: 17px;
   font-family: "Space Grotesk", sans-serif; 

}
.sub-h-con-2{
width: 430px;
height: 50px;
opacity: 1;

}
.sub-h-con-2 p{
position: relative;
bottom: 5px;
    
}

.rectangle{
width: 470px;
height: 187px;
justify-content: space-between;
angle: 0 deg;
opacity: 1;
border-width: 1px;
border-radius: 45px;
padding: 50px;
background: #F3F3F3;
border: 1px solid #191A23;
box-shadow: 0px 5px 0px 0px #191A23;
display: flex;


}

.page_2{
margin-top: 40px;
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 20px;
margin-left: 75px;
}

.big_search_icon img{
object-fit: cover;
width: 210px;
height: 170px;
angle: 0 deg;
opacity: 1;

}

.rec-content-text-1 h3{
width: 207px;
height: 38px;
angle: 0 deg;
opacity: 1;
font-family:"Space Grotesk", sans-serif;
font-weight: 500;
font-style: Medium;
font-size: 30px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;

}

.rec-content-text-1{
width: 221px;
height: 38px;
angle: 0 deg;
opacity: 1;
gap: 10px;
padding-right: 7px;
padding-left: 7px;
border-radius: 7px;
background: #B9FF66;
position: relative;
bottom: 45px;




}

.rec-content-text-2 h3{
font-family: "Space Grotesk", sans-serif;
font-weight: 500;
font-style: Medium;
font-size: 30px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
width: 183px;
height: 38px;
angle: 0 deg;
opacity: 1;

}

.rec-content-text-2{
width: 197px;
height: 38px;
angle: 0 deg;
opacity: 1;
gap: 10px;
padding-right: 7px;
padding-left: 7px;
border-radius: 7px;
background: #B9FF66;
position: relative;
bottom: 75px;



}

.rec-text{
width: 221px;
height: 210px;
angle: 0 deg;
opacity: 1;
gap: 93px;

}

.small-arrow-green{
    position:relative;
    bottom: 92px;
    
}

.learn-more-text span{
position: relative;
top: 10px;
font-family: Space Grotesk;
font-weight: 400;
font-style: Regular;
font-size: 20px;
leading-trim: NONE;
line-height: 28px;
letter-spacing: 0%;
color: #191A23;


}

.small-arrow-green a{
    display: flex;
    gap: 13px;
    text-decoration: none;


}

.rectangle-2{
width: 470px;
height: 187px;
justify-content: space-between;
angle: 0 deg;
opacity: 1;
border-width: 1px;
border-radius: 45px;
padding: 50px;
background: #F3F3F3;
border: 1px solid #191A23;
box-shadow: 0px 5px 0px 0px #191A23;
display: flex;
background: #B9FF66;

 
}

.rec-content-text-1-card-2{
width: 209px;
height: 38px;
angle: 0 deg;
opacity: 1;
gap: 10px;
padding-right: 7px;
padding-left: 7px;
border-radius: 7px;
background: #FFFFFF;
position: relative;
bottom: 45px;
    
}

.rec-content-text-1-card-2 h3{
width: 207px;
height: 38px;
angle: 0 deg;
opacity: 1;
font-family:"Space Grotesk", sans-serif;
font-weight: 500;
font-style: Medium;
font-size: 30px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
}

.rec-content-text-2-card-2{
width: 178px;
height: 38px;
angle: 0 deg;
opacity: 1;
gap: 10px;
padding-right: 7px;
padding-left: 7px;
border-radius: 7px;
background: #FFFFFF;
position: relative;
bottom: 75px;
}

.rec-content-text-2-card-2 h3{
width: 207px;
height: 38px;
angle: 0 deg;
opacity: 1;
font-family:"Space Grotesk", sans-serif;
font-weight: 500;
font-style: Medium;
font-size: 30px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
 
}

.rectangle-3{
width: 470px;
height: 187px;
justify-content: space-between;
angle: 0 deg;
opacity: 1;
border-width: 1px;
border-radius: 45px;
padding: 50px;
background: #F3F3F3;
border: 1px solid #191A23;
box-shadow: 0px 5px 0px 0px #191A23;
display: flex;
background: #191A23;


 
}

.rec-content-text-1-card-3{
width: 195px;
height: 38px;
angle: 0 deg;
opacity: 1;
gap: 10px;
padding-right: 7px;
padding-left: 7px;
border-radius: 7px;
background: #FFFFFF;
position: relative;
bottom: 45px;


}

.rec-content-text-1-card-3 h3{
width: 207px;
height: 38px;
angle: 0 deg;
opacity: 1;
font-family:"Space Grotesk", sans-serif;
font-weight: 500;
font-style: Medium;
font-size: 30px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;

}

.rec-content-text-2-card-3{
width: 161px;
height: 38px;
angle: 0 deg;
opacity: 1;
gap: 10px;
padding-right: 7px;
padding-left: 7px;
border-radius: 7px;
background: #FFFFFF;
position: relative;
bottom: 75px;

}

.rec-content-text-2-card-3 h3{
width: 207px;
height: 38px;
angle: 0 deg;
opacity: 1;
font-family:"Space Grotesk", sans-serif;
font-weight: 500;
font-style: Medium;
font-size: 30px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;

}

.learn-more-text-white{
position: relative;
top: 10px;
font-family: Space Grotesk;
font-weight: 400;
font-style: Regular;
font-size: 20px;
leading-trim: NONE;
line-height: 28px;
letter-spacing: 0%;
color: #FFFFFF;

}

.rec-content-text1-card-4{
width: 87px;
height: 38px;
angle: 0 deg;
opacity: 1;
gap: 10px;
padding-right: 7px;
padding-left: 7px;
border-radius: 7px;
background: #B9FF66;
position: relative;
bottom: 45px;


}

.rec-content-text1-card-4 h3{
 width: 207px;
height: 38px;
angle: 0 deg;
opacity: 1;
font-family:"Space Grotesk", sans-serif;
font-weight: 500;
font-style: Medium;
font-size: 30px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;


}

.rec-content-text2-card-4{
width: 161px;
height: 38px;
angle: 0 deg;
opacity: 1;
gap: 10px;
padding-right: 7px;
padding-left: 7px;
border-radius: 7px;
background: #B9FF66;
position: relative;
bottom: 75px;


}

.rec-content-text2-card-4 h3{
width: 207px;
height: 38px;
angle: 0 deg;
opacity: 1;
font-family:"Space Grotesk", sans-serif;
font-weight: 500;
font-style: Medium;
font-size: 30px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;


}

.rec-content-text-1-card-5{
width: 133px;
height: 38px;
angle: 0 deg;
opacity: 1;
gap: 10px;
padding-right: 7px;
padding-left: 7px;
border-radius: 7px;
background: #FFFFFF;
position: relative;
bottom: 45px;


}

.rec-content-text-1-card-5 h3{
width: 207px;
height: 38px;
angle: 0 deg;
opacity: 1;
font-family:"Space Grotesk", sans-serif;
font-weight: 500;
font-style: Medium;
font-size: 30px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;

}

.rec-content-text-2-card-5{
width: 137px;
height: 38px;
angle: 0 deg;
opacity: 1;
gap: 10px;
padding-right: 7px;
padding-left: 7px;
border-radius: 7px;
background: #FFFFFF;
position: relative;
bottom: 75px;

}

.rec-content-text-2-card-5 h3{
   width: 207px;
height: 38px;
angle: 0 deg;
opacity: 1;
font-family:"Space Grotesk", sans-serif;
font-weight: 500;
font-style: Medium;
font-size: 30px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;


}

.rec-content-text-1-card-6{
width: 206px;
height: 38px;
angle: 0 deg;
opacity: 1;
gap: 10px;
padding-right: 7px;
padding-left: 7px;
border-radius: 7px;
background: #B9FF66;
position: relative;
bottom: 45px;


}

.rec-content-text-1-card-6 h3{
width: 207px;
height: 38px;
angle: 0 deg;
opacity: 1;
font-family:"Space Grotesk", sans-serif;
font-weight: 500;
font-style: Medium;
font-size: 30px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;


}

.rec-content-text-2-card-6{
width: 135px;
height: 38px;
angle: 0 deg;
opacity: 1;
gap: 10px;
padding-right: 7px;
padding-left: 7px;
border-radius: 7px;
background: #B9FF66;
position: relative;
bottom: 75px;


}

.rec-content-text-2-card-6 h3{
width: 207px;
height: 38px;
angle: 0 deg;
opacity: 1;
font-family:"Space Grotesk", sans-serif;
font-weight: 500;
font-style: Medium;
font-size: 30px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;


}

.proposal_container{
width: 1050px;
height: 347px;
padding-right: 60px;
padding-left: 60px;
gap: 160px;
angle: 0 deg;
opacity: 1;
border-radius: 45px;
background: #F3F3F3;
display: flex;
margin-top:120px;
margin-left: 80px;

}

.proposal-text{
    width: 500px;
height: 227px;
gap: 26px;
angle: 0 deg;
opacity: 1;
display: flex;
flex-direction: column;
padding: 8px 16px 8px 16px;
margin-top: 10px;

}

.proposal-text-h3 h3{
font-family: Space Grotesk;
font-weight: 500;
font-style: Medium;
font-size: 30px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;


}

.proposal-text-p p{
font-family: Space Grotesk;
font-weight: 400;
font-style: Regular;
font-size: 18px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
width: 500px;

}

.proposal-button{
width: 288px;
height: 68px;
padding-top: 20px;
padding-right: 35px;
padding-bottom: 20px;
padding-left: 35px;
gap: 10px;
angle: 0 deg;
opacity: 1;
border-radius: 14px;
background: #191A23;
color: #FFFFFF;
font-family:Space Grotesk;
font-weight: 400;


}

.proposal-logo img{
width: 350px;
height: 394.2685852050781px;
angle: -180 deg;
opacity: 1;
border-width: 1px;



}

.proposal-logo{
    position: relative;
    bottom: 30px;
}

.case_s{
    display: flex;
    gap: 40px;
    margin-top: 100px;
    margin-left: 79px;

}

.case-s-con-1{
width: 215px;
height: 51px;
angle: 0 deg;
opacity: 1;
gap: 40px;
padding-right: 7px;
padding-left: 7px;
border-radius: 7px;
background: #B9FF66;


}

.case-s-con-1 h1{
   text-align: center;
   position: relative;
   bottom: 17px;
   font-family: "Space Grotesk", sans-serif;
   
    


}

.case-s-con-2{
width: 500px;
height: 50px;
opacity: 1;

}

.case-s-con-2 p{
position: relative;
bottom: 5px;
font-family:"Space Grotesk", sans-serif ;

}

.real-life-example-con{
margin-top: 100px;
width: 1050px;
height: 170px;
padding-top: 70px;
padding-right: 60px;
padding-bottom: 70px;
padding-left: 60px;
gap: 64px;
angle: 0 deg;
opacity: 1;
border-radius: 45px;
background: #191A23;
margin-left: 80px;



}

.local-res{
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.local-res-text p{
width: 286px;
height: 115px;
angle: 0 deg;
opacity: 1;
font-family: Space Grotesk;
font-weight: 400;
font-style: Regular;
font-size: 18px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
color: #FFFFFF;

}

.local-res-link a{
    display: flex;
    text-decoration: none;
    gap: 2px;
    position: relative;
    bottom: 20px;

}

.local-res-green-arrow img{
    position: relative;
    bottom: 10px;

}

.local-res-text-span{
font-family: Space Grotesk;
font-weight: 400;
font-style: Regular;
font-size: 20px;
leading-trim: NONE;
line-height: 28px;
letter-spacing: 0%;
color: #B9FF66;


}


.real-life-example-con{
    display: flex;
    gap: 45px;
}

.local-res-line{
    width: 0px;
    height: 170px;
    border: 1px solid #FFFFFF;
    margin-top: 15px;
}

.work_p{
    display: flex;
    gap: 40px;
    margin-top: 100px;
    margin-left: 79px;


}

.work-p-con-1{
width: 350px;
height: 51px;
angle: 0 deg;
opacity: 1;
gap: 40px;
padding-right: 7px;
padding-left: 7px;
border-radius: 7px;
background: #B9FF66;


}

.work-p-con-1 h1{
   
   position: relative;
   bottom: 17px;
   font-family: "Space Grotesk", sans-serif;
   

}

.work-p-con-2{
width: 285px;
height: 46px;
opacity: 1;

    

}

.work-p-con-2 p{
position: relative;
bottom: 5px;
font-family:"Space Grotesk", sans-serif ;


}

.consultaion-container{
width: 1050px;
height: 150px;
padding-top: 41px;
padding-right: 60px;
padding-bottom: 41px;
padding-left: 60px;
gap: 30px;
angle: 0 deg;
opacity: 1;
border-radius: 45px;
border-width: 1px;
background: #B9FF66;
border: 1px solid #191A23;
margin-top: 60px;
box-shadow: 0px 5px 0px 0px #191A23;
margin-left: 70px;




}



.consultation-nub p{
font-family: Space Grotesk;
font-weight: 500;
font-style: Medium;
font-size: 50px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
width: 65px;
height: 70px;
angle: 0 deg;
opacity: 1;


}


.consultation-heading h3{
font-family: Space Grotesk;
font-weight: 500;
font-style: Medium;
font-size: 30px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
width: 612px;
height: 38px;
angle: 0 deg;
opacity: 1;
position: relative;
top: 30px;


}

.consultation-nub-con{
display: flex;
width: 702px;
height: 77px;
gap: 25px;
angle: 0 deg;
opacity: 1;
position: relative;
bottom: 47px;

}

.consultaion-container-top{
display: flex;
width: 800px;
min-height: 77px;
justify-content: space-between;
angle: 0 deg;
opacity: 1;
gap: 320px;


}


.minus-img img{
    height: 52px;
    width: 52px;
}


.consultation-line{
    width: 1070px;
    height: 0px;
    border: 1px solid black;
}

.consultation-p{
font-family: Space Grotesk;
font-weight: 400;
font-style: Regular;
font-size: 18px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
width: 1114px;
height: 60px;
angle: 0 deg;
opacity: 1;


}


.num-2{
width: 1050px;
height: 100px;
padding-top: 41px;
padding-right: 60px;
padding-bottom: 41px;
padding-left: 60px;
gap: 10px;
angle: 0 deg;
opacity: 1;
border-radius: 45px;
border-width: 1px;
background: #F3F3F3;
border: 1px solid #191A23;
box-shadow: 0px 5px 0px 0px #191A23;
margin-top: 35px;
margin-left: 70px;
display: flex;
gap: 310px;

}


.num-2-text-con{
    display: flex;
    gap: 30px;
    position: relative;
    bottom: 30px;
    
}
.num-2-number p{
font-family: Space Grotesk;
font-weight: 500;
font-style: Medium;
font-size: 50px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
width: 65px;
height: 70px;
angle: 0 deg;
opacity: 1;


}

.num-2-heading h3{
font-family: Space Grotesk;
font-weight: 500;
font-style: Medium;
font-size: 30px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
width: 612px;
height: 38px;
angle: 0 deg;
opacity: 1;
position: relative;
top: 30px;


}

.num-2-img img{
    height: 52px;
    width: 52px;
    position: relative;
    top: 10px;
}

.team_s{
    display: flex;
    gap: 40px;
    margin-top: 100px;
    margin-left: 79px;

}

.team-s-con-1{
width: 75px;
height: 51px;
angle: 0 deg;
opacity: 1;
gap: 40px;
padding-right: 7px;
padding-left: 7px;
border-radius: 7px;
background: #B9FF66;


}

.team-s-con-1 h1{
    text-align: center;
   position: relative;
   bottom: 17px;
   font-family: "Space Grotesk", sans-serif;
 

}

.team-s-con-2{
width: 473px;
height: 50px;
opacity: 1;


}

.team-s-con-2 p{
position: relative;
bottom: 5px;
font-family:"Space Grotesk", sans-serif ;


}


.team-card-1{
width: 300PX;
height: 220PX;
padding-top: 40px;
padding-right: 35px;
padding-bottom: 40px;
padding-left: 35px;
gap: 10px;
angle: 0 deg;
opacity: 1;
border-radius: 45px;
border-width: 1px;
background: #FFFFFF;
border: 1px solid #191A23;
box-shadow: 0px 5px 0px 0px #191A23;

}


.team-card-1-top{
    display: flex;
    gap: 30px;
}

.team-card-1-top-img img{
    width: 99px;
height: 94px;
angle: 0 deg;
opacity: 1;


}

.team-member-socials a img{
    width: 29px;
height: 29px;
angle: 0 deg;
opacity: 1;
position: relative;
right: 12px;
bottom: 4px;

}

.team-member-name-con h4{
    width: 110px;
height: 26px;
angle: 0 deg;
opacity: 1;
top: 53.82px;
left: 125.65px;
font-family: Space Grotesk;
font-weight: 500;
font-style: Medium;
font-size: 17px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;



}

.team-member-title p{
font-family: Space Grotesk;
font-weight: 400;
font-style: Regular;
font-size: 18px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
width: 148px;
height: 23px;
angle: 0 deg;
opacity: 1;
position: relative;
bottom: 30px;




}

.team-card-1-top-text{
    position: relative;
    top: 29px;
    right: 12px;

    
}

.team-braking-line{
    border: 1px solid black;
    height: 0px;
    width: 320px;
}

.team-card-1-bottom-text p{
    font-family: Space Grotesk;
font-weight: 400;
font-style: Regular;
font-size: 18px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
width: 317;
height: 69;
angle: 0 deg;
opacity: 1;
margin-top: 30px;


}

.team-card-con{
    margin-top: 80px;
    margin-left: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    row-gap: 30px;
}

.team-member-title-2 p{
    font-family: Space Grotesk;
font-weight: 400;
font-style: Regular;
font-size: 18px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
width: 194px;
height: 23px;
angle: 0 deg;
opacity: 1;
position: relative;
bottom: 30px;


}

.team-member-socials-2 a img{
     width: 29px;
height: 29px;
angle: 0 deg;
opacity: 1;
position: relative;
right: 60px;
bottom: 4px;


}

.team-member-name-con-3 h4{
    width: 141px;
height: 26px;
angle: 0 deg;
opacity: 1;
top: 53.82px;
left: 125.65px;
font-family: Space Grotesk;
font-weight: 500;
font-style: Medium;
font-size: 17px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;


}

.team-member-title-3 p{
font-family: Space Grotesk;
font-weight: 400;
font-style: Regular;
font-size: 18px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
width: 183px;
height: 23px;
angle: 0 deg;
opacity: 1;
position: relative;
bottom: 30px;


}


.team-member-socials-3 a img{
      width: 29px;
height: 29px;
angle: 0 deg;
opacity: 1;
position: relative;
right: 50px;
bottom: 4px;

}

.team-member-name-con-4 h4{
     width: 141px;
height: 26px;
angle: 0 deg;
opacity: 1;
top: 53.82px;
left: 125.65px;
font-family: Space Grotesk;
font-weight: 500;
font-style: Medium;
font-size: 17px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;


}

.team-member-name-con-5 h4{
      width: 133px;
height: 26px;
angle: 0 deg;
opacity: 1;
top: 53.82px;
left: 125.65px;
font-family: Space Grotesk;
font-weight: 500;
font-style: Medium;
font-size: 17px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;

}

.team-card-1-bottom-text-6 p{
     font-family: Space Grotesk;
font-weight: 400;
font-style: Regular;
font-size: 18px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
width: 317px;
height: 115px;
angle: 0 deg;
opacity: 1;
margin-top: 30px;


}

.team-button button{
    width: 269px;
height: 68px;
padding-top: 20px;
padding-right: 35px;
padding-bottom: 20px;
padding-left: 35px;
gap: 10px;
angle: 0 deg;
opacity: 1;
border-radius: 14px;
top: 5734px;
left: 1071px;
background: #191A23;
margin-top: 35px;
float: right;
font-family: Space Grotesk;
font-size: 17px;
font-weight: 400;
color: #FFFFFF;



}

.Testimonials-con{
    display: flex;
    gap: 40px;
    margin-top: 200px;
    margin-left: 79px;

}

.testimonial-con-1{
width: 255px;
height: 51px;
angle: 0 deg;
opacity: 1;
gap: 40px;
padding-right: 7px;
padding-left: 7px;
border-radius: 7px;
background: #B9FF66;


}

.testimonial-con-1 h1{
    text-align: center;
   position: relative;
   bottom: 17px;
   font-family: "Space Grotesk", sans-serif;
 


}

.testimonial-con-2{
width: 420px;
height: 50px;
opacity: 1;

}

.testimonial-con-2 p{
    position: relative;
bottom: 5px;
font-family:"Space Grotesk", sans-serif ;

} 

.testimonial-client-container{
    width: 1050px;
height: 500px;
angle: 0 deg;
opacity: 1;
border-radius: 45px;
display: flex;
background: #191A23;
flex-direction: column;


}

.left-comment-con{
    position: relative;
    bottom: 70px;
}

.left-comment-con img{
    width: 250px;
height: 220px;
angle: 0 deg;
opacity: 1;
border-width: 1px;
background: #191A23;





}

.left-comment-con p{
    font-family: Space Grotesk;
font-weight: 400;
font-style: Regular;
font-size: 18px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
color: #FFFFFF;
width: 500px;
overflow: hidden;
position: relative;
right: 300px;
top: 160px;


}

.middle-tes img{
    width: 533px;
height: 266px;
angle: 0 deg;
opacity: 1;
border-width: 1px;




}

.comment-con{
    display: flex;
    
    
}

.middle-tes p{
font-family: Space Grotesk;
font-weight: 400;
font-style: Regular;
font-size: 18px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
color: #FFFFFF;
position: relative;
width: 500px;
top: 190px;
left: 25px;





}

.middle-tes{
    position: relative;
    bottom: 90px;
    right: 230px;
}

.right-comment-con img{
width: 225px;
height: 220px;
angle: 0 deg;
opacity: 1;
border-width: 1px;


    

}

.right-comment-con p{
    font-family: Space Grotesk;
font-weight: 400;
font-style: Regular;
font-size: 18px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
color: #FFFFFF;
width: 500px;
overflow: hidden;
position: relative;
top: 160px;
left: 60px;



}

.right-comment-con{
    position: relative;
    bottom: 65px;
    right: 210px;
}

.tes-client-info-name h4{
    font-family: Space Grotesk;
font-weight: 500;
font-style: Medium;
font-size: 20px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
color: #B9FF66;
}

.tes-client-info-roles p{
    font-family: Space Grotesk;
font-weight: 400;
font-style: Regular;
font-size: 18px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
color: #FFFFFF;


}

.tes-client-info-con{
    display: flex;
    gap: 500px;
        
}

.tes-client-info-roles{
     position: relative;
     bottom: 20px;
    
}


.tes-client-info-con-1{
    position: relative;
    left: 340px;
    bottom: 120px;
}

.tes-client-info-con-2{
    position: relative;
    overflow: hidden;
    left: 145px;
    bottom:120px ;
}


.testimonial-client-container{
    position: relative;
    top: 40px;
    left: 70px;

    
}


.navbar-comments{
    display: flex;
    position: relative;
    left: 300px;
    bottom: 60px;
    gap: 150px;
}


.contact-con{
     display: flex;
    gap: 40px;
    margin-top: 100px;
    margin-left: 79px;


}

.contact-con-1{
width: 180px;
height: 51px;
angle: 0 deg;
opacity: 1;
gap: 40px;
padding-right: 7px;
padding-left: 7px;
border-radius: 7px;
background: #B9FF66;


}


.contact-con-1 h1{
    position: relative;
   bottom: 17px;
   font-family: "Space Grotesk", sans-serif;
   


}

.contact-con-2{
    width: 285px;
height: 46px;
opacity: 1;

}

.contact-con-2 p{
    position: relative;
bottom: 5px;
font-family:"Space Grotesk", sans-serif ;

}

.sign-up-main{
    display: flex;
    flex-direction: column  ;
}

.contact-text-con{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-text-con label{
    font-family: Space Grotesk;
font-weight: 400;
font-style: Regular;
font-size: 16px;
leading-trim: NONE;
line-height: 28px;
letter-spacing: 0%;

}

.contact-text-con input[type="text"],[type="Email"]{
width: 350px;
height: 10px;
angle: 0 deg;
opacity: 1;
border-radius: 14px;
padding-top: 18px;
padding-right: 30px;
padding-bottom: 18px;
padding-left: 30px;
gap: 10px;
border-width: 1px;
background: #FFFFFF;
border: 1px solid #000000;



}

.contact-text-con textarea{
    width: 350px;
height: 70px;
angle: 0 deg;
opacity: 1;
border-radius: 14px;
padding-top: 18px;
padding-right: 30px;
padding-bottom: 18px;
padding-left: 30px;
gap: 10px;
border-width: 1px;

}

.button-contact button{
    width: 410px;
height: px;
angle: 0 deg;
opacity: 1;
border-radius: 14px;
padding-top: 20px;
padding-right: 35px;
padding-bottom: 20px;
padding-left: 35px;
gap: 10px;
margin-top: 25px;
background: #191A23;
color: #FFFFFF;

}


.raidio-con label{
    font-family: Space Grotesk;
font-weight: 400;
font-style: Regular;
font-size: 18px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;

}

.raidio-con input[type="radio"]{
    width: 19px;
height: 19px;
angle: 0 deg;
opacity: 1;
border-radius: 29px;
left: 131px;
border-width: 1px;
accent-color: #B9FF66;
border: 1px solid #000000;

}

.contact-form-container{
    display: flex;
    width: 900px;
height: 490px;
angle: 0 deg;
opacity: 1;
border-radius: 45px;
padding-top: 60px;
padding-right: 100px;
padding-bottom: 80px;
padding-left: 100px;
gap: 10px;
background: #F3F3F3;
border: 1px solid #F3F3F3;
margin-left: 70px;
margin-top: 40px;


}


.contact-form-img img{
    width: 500px;
height:500px;
angle: -0 deg;
opacity: 1;
top: 62.5px;
left: 1014.71px;
margin-left: 310px;


}

